
.app-content-main-cont{
     --background: #111111;
}
.app-head-lab-main-cont{
     border-bottom: 1px solid var(--env-color-s2);
     width: 100%;     
     align-items: center;
     --background:#131313;
     color: #fff;
     font-weight: 800;
     font-size: 20px;
     z-index: 99999;
     position: fixed;
     top: 0;
     font-family: sen;
     font-weight: 800;
     font-size: 15px;
}

.app-feed-skel-main-cont{
     width: 90%;
     height: 100px;
     --border-radius:8px;
     margin-left: 5%;
     
}

#menuId{
     
}

.app-head-lab-ico{
     width: 18px;
     height: 18px;
     color: #fff;
}
#appContentId{
     box-shadow: 6px 0px 9px #e0e0e0;
}
.appLeftMenuCont{
     --width: 72px;
}
.appRightMenuCont{
     --width:80%;
}
.appContentMainCont{    
     color: #fff;
     width: 100%;
     
     --background:#111111;
     border-right: 1px solid #111111;
}

.appSideChanneVisitlListCont{
          width: 100%;
          height: 100%;
          font-weight:700;
          margin-top: 32px;
          font-family: sen;
   
}
.appSideChanneVisitlListContHr{
     width: 100%;
     height: 1px;
     background-color: #252525;
     border-radius: 3px;
     margin-top: 7px;
     margin-bottom: 7px;
}
.appSideChanneVisitlListContTab{
     color: #fff;
     width: 90%;
     font-size: 13px;
     margin-left: 5%;
     margin-top: 9px;
     margin-bottom:9px;
     background-color: #000000;
     border-radius: 9px;
     padding-left: 12px;
     padding-top: 7px;
     padding-bottom: 7px;
}
.appSideChanneVisitHeader{
     width: 90%;
     color: #fff;
     background-color: #000000;
     padding-left: 12px;
     padding-top: 7px;
     padding-bottom: 7px;
     padding-right: 12px;
     border-radius: 9px;
     font-size: 16px;
     margin-left: 5%;
     display: inline-flex;
     align-items: center;
     
}
.appSideChanneVisitHeaderIcoCont{
     width: 42px;
     height: 42px;
     overflow: hidden;
     margin-right: 12px;
     border-radius: 7px;
}
.appSideChanneMemCont{
height: 42px;
width: 90%;
font-size: 13px;
color: #fff;
margin-top: 4px;
border-radius: 8px;
padding-left: 24px;
display: inline-flex;
align-items: center;
}
.appSideChanneMemContIcoCont{
     width: 26px;
     height: 26px;
     border-radius: 100px;
     overflow: hidden;
     margin-right: 8px;
}
.appSideChanneMemContIco{
     width: 100%;
     height: 100%;
     object-fit: fill;
   
}
.appSideChannelListCont{
     height: 100%;
     width: 100%;
     padding-top: 56px;
}
.appSideChannelOuterCont{
     width: 72px;
     display: flex;
     align-items: center;
     justify-content: center;
     height: auto;
     padding-top: 7px;
     padding-bottom: 7px;
}
.appSideChannelCont{
     width: 42px;
     height: 42px;
     display: flex;
     color: #fff;
     justify-content: center;
     align-items: center;
     font-size: 13px;
     font-weight: 700;
     background-color: #454545;
     border-radius: 100px;
   
}
.menuButtUnSelec{

}
.menuButtSelec{
 border:1px solid #7978FF;
}
.appSideChannelHrCont{
     width: 80%;
     margin-left: 10%;
     height: 1px;
     background-color: #353535;
     margin-top: 10px;
     margin-bottom: 10px;
     border-radius: 100px;
     
}
.appSideChannelAddCont{
     width: 42px;
     height: 42px;
     padding: 0px;
     display: flex;
     padding:0px;
     justify-content: center;
     align-items: center;
     font-size: 24px;
     font-weight: 700;
     background: #252525;
     color: var(--primary-color-light);
     border-radius: 100px;
     margin-bottom: 10px;
}

.app-head-lab-crt-butt{
     position: absolute;
     right: 0;
     box-shadow: none;
     --background:rgba(0,0,0,0);
     text-transform: none;
     color: #82FF70;
     outline: none;
     border-style: none;
}


.app-modal-main-cont{
     --background:transparent;
}
.app-bottombar-lab-tit{
     font-size: 12px;
     font-family: sen;
     margin-top: 5px;
     color:#fff;
}

.app-edit-profile-err-cont{
     padding-left: 22px;
     padding-right: 22px;
     margin-top: 12px;
}    
.app-head-top-fader-cont{
     height: 52px;
     width: 100%;
     background: linear-gradient(177.98deg, #111111 0%, transparent 100%);
     z-index: 100;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
}
.app-content-fader-main-cont{
     height: 72px;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     background: linear-gradient(180deg, #0F0F0F 0%, rgba(15, 15, 15, 0.44) 50%, rgba(15, 15, 15, 0) 100%);
     z-index: 99999;
}
.placeholder_cont{
     height: 200px;
     width: 100%;
     background-color: var(--env-color-s2);
     display: flex;
     justify-content: center;
     align-items: center;
     
}
.app-pop-creat-main-cont{
     background: linear-gradient(180deg, #242424 0%, #202020 100%);
     border-radius: 18px;
     width: 100%;
     height: auto;
    
}
.app-pop-creat-main-outer-cont{
     padding: 14px;
     padding-top: 0px;
     margin-top: 32px;
}
.app-pop-creat-pic-holder-main-cont{
     width: 100%;
     height: auto;
     padding: 18px;
     padding-top: 0px;
}
.app-pop-creat-pic-holder{
     width: 100%;
     height: 52px;
     display: inline-flex;
}
.app-pop-creat-pic{
     width: 52px;
     height: 52px;
     object-fit: cover;
     border-radius: 8px;
     overflow: hidden;
     margin-right: 12px;
}
.app-pop-creat-more-pic-cont{
     width: 52px;
     height: 52px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 8px;
     font-family: sen;
     color: #fff;
     font-weight: 600;
     background-color: var(--env-color-s3);
}
.app-space-feed-main-cont{

}
.app-feat-space-main-cont{
     width: auto;  
     height: 150px;
     margin-bottom: 10px;
     border-radius: 8px;
     overflow: hidden;
     position: relative;
     background: linear-gradient(224.97deg, rgba(32, 32, 32, 0.45) 0%, rgba(24, 24, 24, 0.45) 90.72%);
     
     
}

.app-intro-main-cont{
     width: 90%;
     margin-left: 5%;
     border-radius: 6px;
     height: 150px;
     overflow: hidden;
     background-color: #8FA2FF;
     position: relative;
}

.app-intro-main-cont-ico-cont{
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0; 
     z-index: 0;
}
.app-intro-main-cont-ico{
     width: 100%;
     height: 100%;
     object-fit: cover;
    
}
.app-intro-main-cont-tit{
     z-index: 90;
     position: absolute;
     color: #fff;
     font-size: 28px;
     font-weight: 700;
     font-family: poppins;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.app-render-region-cont{
     width: 100%;
     padding: 12px;
}

.app-feat-space-main-cont-ripp{
     color:white;
}
.app-feat-space-ban-art{
     width: 72px;
     height: 72px;
     
     outline: none;
     overflow: hidden;
     background-color: var(--env-color-s2);    
     /* background: linear-gradient(90deg, #005C97 0%, #363795 100%); */
     left: 0;
     right: 0;
     object-fit: cover;
}
.app-feat-space-top-name-main-cont-name{
     margin-left: 7px;
     display: inline-flex;
     font-family: poppins;
     font-size: 14px;
     width: 50%;
     font-weight: 600;
     color: #fff;
     
}

.app-feat-space-top-name-main-cont{
     width: 100%;
     height: auto;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     color: #fff;
     padding: 13px;
     padding-top: 3px;
     padding-bottom: 7px;
     
}
.app-feat-space-top-name-main-inner-cont{
     width: 100%;
     height: 42px;
     display: inline-flex;
     align-items: center;
}
.app-feat-space-atnd-main-cont{
     height: 42px;
     width: 100%;
     padding-left: 12px;
     display:inline-flex;
}
.app-atnd-ico-cont{
     width: 26px;
     height: 26px;
     font-size: 14px;
     margin-right:-7px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color:var(--env-color-s3);
     border-radius: 100px;
     border: 1px solid #fff;
     overflow: hidden;

}

.attnd-pic-cont{
     margin-right:-7px;     
}

.app-bott-add-butt{
     --background: transparent;
     --border-radius: 4px;
     color: #82FF70;
     font-family: poppins;
     text-transform: none;
     font-size: 15px;
     float: right;    
}
.app-bott-add-butt-ico{
     width: 17px;
     height: 17px;
     color: #fff;

}
.app-render-skelt-main-cont{
     --width:100%;
     --border-radius:8px;
     height: 100px;
}
.app-render-space-pic-skelt{
     --width:18px;
     --height:18px;
     --border-radius:100px;
     margin-right: 10px;
     
}
.app-render-space-name-skelt{
     --width:30%;
     --height:22px;
     --border-radius:5px;
}

.app-create-space-main-cont{
     width: 100%;
     padding: 11px;
}

.app-feat-space-bottom-main-cont{
     height: auto;
     width: 100%;
     position: absolute;
     bottom: -1px;
     padding:8px;
     /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.21) 34.9%, rgba(0, 0, 0, 0.56) 61.46%, rgba(0, 0, 0, 1) 100%); */
}
.app-feat-space-bottom-name-cont{
     float: left;
     
}

.app-feat-space-bottom-connc-bar{
     width: 100%;
     bottom: 0;
     height: 22px;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 0px;
     border-radius: 10px;
     font-size: 10px;
     font-weight: 700;
     background-color: #82FF70;
}

.app-feat-space-bottom-name-main-cont{
   
     display: inline-flex;

     padding: 12px;
     text-align: left;
}
.app-feat-space-left-pro-ico{
     width: 18px;
     height: 18px;
     margin-right: 5px;
     object-fit: fill;
     font-family: sen;
     font-weight: 700;
     border-radius: 320px;
     overflow: hidden;
}
.atnd-pro-pic{
     width: 26px;
     height: 26px;
     --border-radius: 100px;
     overflow: hidden;
}

.app-feat-space-head-pro-ico{
     width: 14px;
     height: 14px;
     margin-right: 5px;    
}

.app-feat-space-bottom-name-ava-main-cont{
     margin-right: 6px;
}
.app-feat-space-bottom-name{
     font-family: sen;
     font-weight: 600;
     font-size: 22px;
     color: #fff;
}
.app-feat-space-bottom-des{
     font-family: sen;
     font-weight: 300;
     margin-top: 3px;
     font-size: 12px;
     color: #858585;
}
.app-feat-space-bottom-crea-name{
     font-family: sen;
     font-weight: 400;
     color: #fff;
     font-size: 12px;
}

.ion-slides {
     height: 100%;
   }
.app-feat-space-bottom-pro-main-cont{
     position: absolute;
     bottom: 0;
     right: 0;
     padding: 18px;
     display: inline-flex;
}
.app-feat-space-bottom-pro-cont{
     margin-right: -10px;
     border-radius: 12px;
     
}
.app-feat-space-bottom-pro-ico{
     width: 32px;
     height: 32px;
     object-fit: cover;
     font-family: sen;
     font-weight: 700;
     border-radius: 6px;
     overflow: hidden;
}
.app-feat-space-bottom-pro-count-cont{
     width: auto;
     height: auto;
     font-size: 13px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #111111;
     border-radius: 100px;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 6px;
     padding-bottom: 6px;
     color: #fff;
     position: absolute;
     right: 0;
     margin-right: 12px;
     
}

.space-list-cont{
     position: relative;
     margin-right: 0px;
     background-color: var(--env-color-s2);
}

.app-feat-space-bottom-pro-count-cont-cir{
     width: 5px;
     height: 5px;
     background-color: #fff;
     border-radius: 100px;
     margin-left: 8px;
     margin-right: 8px;

}

.app-space-feed-list-cont{
     width: 100%;
     height: 500px;
     padding: 12px;

}
.app-list-space-cont{
     border-radius: 8px;
     overflow: hidden;    
     margin-bottom: 12px;
}
.app-search-bar-cont{
     --background:var(--env-color-s2);
     --color:#fff;
     --border-radius:9px;
     margin-top: 22px;

}
.app-search-bottombar-main-cont{
     --background:var(--env-color-s1);
     margin-top: 82px;
     border-bottom: 1px solid var(--env-color-s3);

}

.app-fab-main-butt-butt{
     --background:var(--primary-color-light);
}


.app-toolbar-main-cont{
     --background:var(--env-color-s1); 
     --color:#fff;
     height: 62px;
     display: flex;
     padding-right: 12px;
     justify-content: center;
     border-bottom: 1px solid var(--env-color-s2);
}
.app-toolbar-tit-main-cont{
     font-family: sen;
     font-weight: 700;
     font-size: 12px;
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;

}
.app-toolbar-tit-more-ico{
     width: 20px;
     height: 20px;
     color: #fff;
}

.app-profile-pic-main-cont{
     width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 32px;
     padding-bottom: 12px;
}
.app-profile-pic-cont{
     color: #fff;
     position: relative;
}
.app-profile-pic-cont-ico{
     width: 100px;
     height: 100px;
     object-fit: cover;
     overflow: hidden;
     border-radius: 18px;
}
.app-profile-pic-cont-butt-cont{
     position: absolute;
     bottom: 0;
     height: 32px;
     
}
.app-profile-pic-cont-butt{
     height: 42px;
     width: 150px;
     padding-top: 6px;  
     padding-bottom: 6px;
     font-size: 12px;
     text-transform: none;
     --border-radius:18px;
     color: #fff;
}
.app-profile-pic-inner-cont{
     position: relative;
     display: flex;
     justify-content: center;

}

.app-profile-pic-name{
     color: #fff;
     font-family: sen;
     font-weight: 700;
     font-size: 17px;
     margin-top: 22px;
     display: flex;
     justify-content: center;
}

.app-profile-bio-main-cont{
padding: 12px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 12px;
}
.app-profile-bio-cont{
     padding: 14px;
     background-color: var(--env-color-s2);
     border-radius: 8px;
     font-size: 12px;    
     color:var(--text-color-s2);
}

.app-profile-count-main-cont{
margin-top: 22px;
width: 100%;
padding: 12px;
padding-top: 4px;
padding-bottom: 10px;
display: inline-flex;
border-bottom: 1px solid var(--env-color-s2);
}
.app-profile-tab-main-cont{
     width: auto;
     flex: 1;
     
     text-align: center
}
.app-profile-tab-tit{
     font-size: 15px;
     font-weight: 700;
     font-family: sen;
     color: var(--text-color-s1);
}
.app-profile-tab-count{
font-size: 15px;
margin-top:6px;
color: #fff;
font-family: sen;
display: flex;
justify-content: center;
}

.app-profile-main-cont{
     
}
.app-toolbar-end-butt-cont{
     height: 100%;
     
     
}
.app-toolbar-end-butt{
     padding: 0px;
     height: 52px;
     width: 52px;
}
.app-toolbar-end-outer-butt{

}

.app-space-name-main-cont{
     font-size: 18px;
     font-weight: 600;
     padding: 18px;
     padding-top: 16px;
     padding-bottom: 16px;
     font-family: sen;
}

.app-space-banner-main-cont{
width: 100%;
height: 200px;
position: relative;
margin-top: 52px;
border-style: none;
outline: none;
}
.app-space-banner-img{
     width: 100%;
     height: 100%;
     object-fit: fill;
     background-color: var(--env-color-s2);
     border-style: none;
     outline:none;
     overflow: hidden;
}

.app-space-tit-cont{
     font-family: sen;
     font-size: 16px;
}
.app-space-banner-bottom-main-cont{
     position: absolute;
     height: 152px;
     width: 100%;
     bottom: 0;
     /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.51) 34.9%, rgba(0, 0, 0, 0.76) 60%, rgba(0, 0, 0, 1) 100%); */
     display: inline-flex;
     justify-content: center;
     align-items: center;
     

}

.space-head-butt-ico{
width: 32px;
height: 32px;
}

.app-space-banner-pic-cont{
     
     border-radius: 17px;
     
     padding: 8px;
}

.app-space-banner-pic{
width: 52px;
height: 52px;
}
.app-space-banner-pic-img{
width: 100%;
height: 100%;
object-fit: cover;
overflow: hidden;
border-radius: 16px;

}
.app-space-banner-name{
     margin-top: 4px;
     font-family: sen;
     font-size: 14px;
     color: #fff;
     font-family: sen;
     text-align: center;
}
.app-total-listners-main-cont{
     padding: 17px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top:0px;
     padding-bottom: 0px;
}
.app-total-listners-tit{
     color: var(--text-color-s2);
     font-family: sen;
     font-size: 11px;
}
.app-total-listners-count{
     width: 100%;
     color: #82FF70;
     font-size: 13px;
     font-family: sen;
     font-weight: 700;
     display: inline-flex;
     margin-top: 5px;
     align-items: center;
}
.app-total-listners-count-ecp{
     width: 9px;
     height: 9px;
     background-color: #82FF70;
     box-shadow: 0px 0px 9px #82FF70;
     border-radius: 100px;
     margin-right: 7px;
}
.app-space-chat-main-cont{
     z-index: 100;
     width: 100%;
     height: 100%;
     overflow: scroll;
     box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.22);
     background-color: #181818;
}
.space-content{
     background-color: var(--env-color-s1);
     height: 100vh;
     max-height: 100vh;
     overflow-y: scroll;
}

.app-space-chat-other-main-cont{
     width: 100%;
     padding: 12px;
     padding-top: 2px;
     padding-bottom: 2px;
     display: inline-flex;
     align-items: center;
}
.app-space-chat-self-main-cont{
     width: 100%;
     padding: 12px;
     padding-top: 2px;
     padding-bottom: 2px;
     display: inline-flex;
     align-items: center;
     background-color: var(--primary-color-dark);
}
.app-space-chat-other-pic-main-cont{

}
.app-space-chat-other-pic-img{
     width: 28px;
     height: 28px;
     object-fit: cover;
     overflow: hidden;
     border-radius: 100px;
}
.app-space-chat-other-chat-main-cont{
     padding: 10px;
     padding-top: 6px;
     padding-bottom: 6px;
     margin-left: 2px;
     align-items: center;
     border-radius: 0px 12px 12px 12px;
}
.app-space-chat-other-chat-main-data-cont{
     display: inline-flex;
     align-items: center;
}
.app-space-chat-data-cont{
     color: #fff;
     font-size: 12px;
     font-family: sen;
}
.app-space-chat-time-cont{
     color: #565656;
     font-size: 11px;
     padding-right: 12px;
     font-family: sen;
}
.app-space-chat-name-cont{
     color: #929292;
     font-weight: 600;
     font-size: 11px;
     padding-right: 6px;
     font-family: sen;
     display: inline-flex;
     align-items: center;
}
.self-name{
     color: #fff;
}
.self-chat{
font-weight: 600;
font-size: 1;
}
.self-time{
margin-top: 2px;
color: #f1f1f1;
}
.app-space-chat-ecp{
     width: 4px;
     height: 4px;
     margin-left: 6px;
     background-color: var(--env-color-s3);
     border-radius: 100px;
     vertical-align: middle;
}

.app-chat-inp-but-end{
     height: 42px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 14px;
     border-radius: 32px;
     width: 100px;
     color: #fff;
     font-weight: 700;
     font-family: sen;
     background-color: #EE6A5E;
}
.space-end-ico{
     margin-left: 6px;
}

.app-chat-inp-fld{
     flex: 1;
     height: 36px;
     width: auto;    
     border-top: 1px solid var(--env-color-s3);
     background-color: var(--env-color-s2);
     border-style: none;
     outline: none;
     font-size: 13px;
     font-family: sen;
     padding-left: 22px;
     margin-left: 6px;
     margin-right: 6px;
     border-radius: 100px;
}

@keyframes app-spac-inp-key{
     from {
          transform: translateY(100%);
     }
  to {
     transform: translateY(0%);
     }
}

.app-chat-inp-main-cont{
     animation-name: app-spac-inp-key;
     animation-duration:0.5s;
     animation-fill-mode: forwards;
     animation-timing-function: ease-in-out;
     padding-left: 12px;
     padding-right: 12px;
}
.app-chat-inp-butt-cont{
 margin-left: 6px;
 margin-right: 6px;
}

.app-chat-inp-butt{
     background-color:#292929;    
     width: 52px;
     height: 52px;
     border-radius: 100px;
     outline: none;
     display: flex;
     justify-content: center;
     align-items: center;
 
}
.app-chat-inp-butt-ico{
     width: 21px;
     height: 21px;
}
.send-butt-cont{
     margin-right: 7px;
}

.profile-view-main-cont{
     --background: #111111;
}

.app-profile-view-pic-cont-butt{
     width: 120px;
     height: 32px;
     font-size: 14px;
     font-family: sen;
     text-transform: none;
     color: #fff;
     --background: var(--primary-color-light);
     
}

.app-profile-view-pic-cont-butt-unfol{
     width: 120px;
     height: 32px;
     font-size: 14px;
     font-family: sen;
     text-transform: none;
     color: #fff;
     --background: var(--ion-color-danger);
}

.profile-view-head-main{
     --background: #111111;
     border-top-left-radius: 12px;
     border-top-right-radius: 12px;
     height: 52px;
}

.app-space-name-main-cont{
     font-size: 22px;
     color: #fff;
     font-family: sen;
     padding-bottom: 0px;
}

.app-curr-play-main-cont{
     height: 52px;
     width: 100%;
     background-color: var(--primary-color-dark);
     display: inline-flex;
     align-items: center;
     color: #fff;
     z-index: 9999;
     padding-left: 22px;
     padding-right: 22px;
}
.app-curr-play-main-cont-ico{
     width: 17px;
     height: 17px;

}
.app-curr-play-main-cont-tit{
     margin-left: 7px;
     font-family: sen;
     font-weight: 400;
     font-size: 14px;

}
.app-curr-play-main-cont-but-end{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     border-radius: 100px;
     height: 42px;
     width: 42px;
     background-color: #EE6A5E;
     position: absolute;
     right: 0;
     margin-right: 12px;
}

.app-curr-play-main-cont-but-end-ico{
     height: 22px;
     width: 22px;
}

.app-space-tit-main-cont{
     
}
.app-chat-attnd-main-outer-cont{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    
}
.app-chat-attnd-main-cont{
     width: 100%;
     height: auto;
     margin-top: 12px;
     display: grid;
     overflow-y: scroll;
     padding: 6px;
     grid-template-columns: repeat(3, 1fr);
     gap: 5px;

}
.app-chat-attnd-main-cont-tit{

}
.app-chat-attnd-card-ico{
     
     width: 100%;
     height: 100%;
     object-fit: fill;
}
.app-chat-attnd-card-outer-cont{
     
     max-width: 90px;
}
.app-chat-attnd-card-ico-cont{
     width: 52px;
     height: 52px;
     border-radius: 100px;
     overflow: hidden;

}
.app-chat-attnd-card-ico-outer-cont{
     display: flex;
     justify-content: center;
     align-items: center;
}
.app-chat-attnd-card-name{
 min-height: 100%;
margin-top: 6px;
 max-width: 100px;
     color: #fff;
 font-size: 14px;
     display: flex;
     font-weight: 700;
     justify-content: center;
     align-items: center;
}
.app-chat-attnd-card{
width: auto;
flex: 1;
border-radius: 8px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}

.profile-view-cont{
     border-top-left-radius: 12px;
     border-top-right-radius: 12px;
     --background:#151515;
}
.app-profile-list-modal-puller{
     width: 70px;
     margin-top: 32px;
     height: 10px;
     background-color:red;
     border-radius: 100px;
}
.app-profile-list-modal-main-cont{
     padding-top: 72px;    
}