.login-content-main-cont{
     --background: var(--env-color-s1);
     color: #fff;
}
.app-content-head-main-cont{
     width: 100%;
     height: 52px;
     padding: 22px;

}
.app-content-head-logo-main-cont{
     font-weight: 600;
     font-size: 20px;
     font-family: sen;    
     float: left;
     color: #fff;

}
.app-content-head-right-butt-main-cont{
     font-weight: 400;
     font-size:18px;
     font-family: sen;    
     float: right;    
     color: var(--ion-color-success);
}
.app-content-login-form-main-cont{
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
padding-left: 12px;
padding-right: 12px;
height: 100%;
display: flex;
align-items: center;

}
.app-content-login-form-fld-cont-tit{
          font-family: sen;
          font-size:36px;
     font-weight: 700;
     color: #e0e0e0;
     margin-bottom: 12px; 
     padding-left: 7px;
}

.app-content-login-form-fld-main-cont{
     margin-bottom: 12px;
}
.app-content-login-form-inner-main-cont{
     width: 100%;   
}
.app-content-login-form-fld-cont{
     --border-style:none;
     --background: var(--env-color-s1); 
}
.app-content-login-form-lab{     
     --color:var( --text-color-s1);
     z-index: 999;
     font-size: 11px;
}
.app-content-login-form-fld{
     font-family: sen;
     --border-style:none;    
     border-radius:12px;
     font-family: 17px;
     height: 42px;
     --background: var(--env-color-s2);
     --color:#fff;
     --padding-start:22px;
}

#login-pass-fld{
     margin-top: 18px;
     
}
.app-content-login-sub-butt{
     margin-top: 12px;   
     --background: #fff;
     --color: #000;
     text-transform: none;
     --border-radius: 9px;
     width: 100%;
     height: 42px;
     font-size: 14px;
     font-weight: 700;
     position: relative;

}

.app-login-or-main-cont{
     width: 100%;
     padding-top: 12px;
     text-align: center;
     color: #fff;

}
.app-content-login-sub-ico-left{
     position: absolute;
     left: 0;
     top: 0;
     bottom: 0;
     margin-left: 0px;
     margin-top: 10px;
     width: 26px;
     height: 26px;
}

.app-bottom-deco-main-cont{
     position: fixed;
     bottom: 0;
     height: 42px;
     width: 100%;
     z-index: 200;
     color: var(--text-color-s2);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 14px;
     font-family: sen;
}
.app-bottom-deco-1{
     width: 100%;
     height: 52px;
     position: fixed;
     bottom: 0;
     background-color: var(--primary-color-dark);
}
.app-bottom-deco-2{
     width: 100%;
     height: 42px;
     box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.06);
     position: fixed;
     bottom: 0;
     background-color: var(--primary-color-light);
}
.app-content-login-intro-main-cont{
     
     font-family: sen;
     font-family: 700;
     font-size: 22px;
     height: 200px;
     display: flex;
     justify-content: center;
     align-items: center;    
     color: #fff;
     z-index: 999999;


     display: none;
}
.app-content-login-intro-ico-cont{
     position: absolute;
     left: 0;
     right: 0;
     width: 100%;
     height: 32px;
     
}
.app-content-login-intro-ico{
     width: 100%;
     margin-left: 0px;
}