
body{
     font-family: sen;

}    

.app-content-loading-main-cont{
     display: flex;
     width: 100%;
     height: 100%;
     justify-content: center;
     align-items: center;
     background: var(--env-color-s1);
     color: #fff
}
.app-content-loading-main-cont-tit{
     margin-right: 9px;
     font-family: sen;
     font-size: 17px;
     font-weight: 700;
     ;
}

.app-welcom-head-main-cont{
     font-size: 32px;
     padding: 14px;
     margin-bottom: 12px;
     padding-left: 22px;
     position: relative;
     font-weight: 700;
     font-family: quicksand;
     color: #fff;
     display: inline-flex;
     align-items: center;

}
.app-welcom-head-main-cont-ico{
     width: 22px;
     height: 22px;
     
     color: #fff;
}
.app-welcom-head-main-cont-ico-cont{
     margin-right:16px;
}
.app-welcom-head-close-butt{
     color: #fff;
     position: absolute;
     right: 0;
     top: 0;
     margin: 18px;
     margin-top: 32px ; 
     
}

.app-dhead-main-cont{
     padding: 14px;
     margin-top: 12px;
     color: #fff;
}
.app-dhead-pri-str-main-cont{
     font-size: 18px;
     font-weight: 700;
     font-family: sen;
     color: #fff;
}
.app-dhead-sec-str-main-cont{
     color: var(--text-color-s2);
     font-size: 12px;
     font-weight: 400;
     margin-bottom: 2px;
     font-family: sen;
     
}
.app-feat-live-indi-main-cont{
     width: 100%;
     height: auto;
     font-size: 13px;
     padding-top: 4px;
     padding-bottom: 4px;

     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     
}
.app-feat-live-indi-live-txt-cont{
     background-color: red;
     color: #fff;
     width: fit-content;
     height: fit-content;
     padding-left: 6px;
     padding-top: 3px;
     padding-bottom: 3px;
     border-top-right-radius: 6px;
     border-bottom-right-radius: 6px;
     padding-right: 6px;

}
.app-bottombar-main-cont{
     height: 58px;
     --background:#101010;
     border-top: 1px solid var(--env-color-s2);
}
.app-bottombar-ico{
     width: 18px;
     height: 18px;
     color: #fff;
}

.app-space-sub-main-cont{
     --background:red;
     --border-radius:6px;
     font-family: poppins;
     font-weight: 700;
     --padding-top:0px;
     --padding-bottom:0px;
     font-size: 13px;
     width: 150px;
}

.app-side-channel-add-ico{
     width: 23px;
     height: 23px;
     color: #fff;
}

.app-bottombar-ico-right{
     width: 26px;
     height: 26px;
}
.app-bottombar-outer-main-cont{
     z-index: 99999999;
}
.app-render-content{
     margin-top: 30px;
     border-top-left-radius: 12px;
     border-top-right-radius: 12px;     
}
.app-fab-main-butt{
     margin: 12px;
}
.app-disco-main-cont{
     background: var(--ion-color-danger);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     height: 42px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: sen;
     font-size: 16px;
     font-weight: 600;
     z-index: 9999999;
}
.app-err-noti-main-cont{
     background: var(--ion-color-danger);
     height: 42px;
     border-radius: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: sen;
     font-size: 14px;
     font-weight: 600;
     z-index: 9999999;
     position: relative;
}

.app-err-noti-main-cont-ico{
     position: absolute;
     right: 0;
     margin-right: 7px;    
}
